@model Trial_Shop.Models.OrderModel
@{
    ViewBag.Title = "Cart";
}

<script type="text/javascript">
    window.onload = new  function()
    {
        for (var key in sessionStorage) {
            console.log(key);
            
        }

    }
</script>

<h2>Cart</h2>
<div>
    Create Order
</div>
